.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus,
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
	background-color: #252831 !important;
	color: #fff !important;
}

.leaflet-marker-icon:focus,
.leaflet-marker-icon:hover {
	filter: grayscale(1) contrast(4);
}

.leaflet-control-attribution > a:focus,
.leaflet-control-attribution > a:hover {
	color: #fff !important;
	background-color: #252831;
	font-size: 1.2em;
	padding: 5px;
}

select:focus,
select:hover {
	background-color: #252831;
	color: #fff;
}

#restaurants-list li a:focus,
#restaurants-list li a:hover {
	background-color: #252831;
}

a:focus,
a:hover {
	text-decoration: underline !important;
}

/*Source for the skip link: https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */

a.skip-map,
a.skip-links {
	left: -999px;
	position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-map:focus,
a.skip-map:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
	margin-top: 136px;
}

a.skip-links:focus,
a.skip-links:active {
	color: #fff;
    background-color: #000;
    overflow: auto;
    padding: 5px;
    font-size: 1.2em;
    z-index: 999;
    position: unset;
}