.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus,
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
	background-color: #252831 !important;
	color: #fff !important;
}

.leaflet-marker-icon:focus,
.leaflet-marker-icon:hover {
	filter: grayscale(1) contrast(4);
}

.leaflet-control-attribution > a:focus,
.leaflet-control-attribution > a:hover {
	color: #fff !important;
	background-color: #252831;
	font-size: 1.2em;
	padding: 5px;
}

select:focus,
select:hover {
	background-color: #252831;
	color: #fff;
}

#restaurants-list li a:focus,
#restaurants-list li a:hover {
	background-color: #252831;
}

a:focus,
a:hover {
	text-decoration: underline;
}